mixin worldMap(obj)
  -var data = obj.content
  div(class=data.class style=data.background)
    .ibm-columns(style="position:relative;")
      .ibm-col-6-4.mapTitlePosition.ibm-block.center.text-center
        h2.ibm-h2.ibm-bold= obj.content.headline
        if(data.text)
          +text(data.text)
    #ocean-infrastructure-map(style="position: relative;")
      #map-box






mixin ibmCarousel(obj)
  -var data = obj.content

  div(class=data.class style=data.background)
    if(data.headline)
      div(class="ibm-columns ibm-padding-bottom-1")
        div(class="ibm-col-6-4 ibm-center-block ibm-center")
          h2.ibm-h2= data.headline

    div(class=data.carouselClass data-widget="carousel" data-dots="#{data.dataDots}" data-arrows="#{data.dataArrows}" data-horizontal="#{data.dataHorizontal}" data-autoplay="#{data.dataAutoplay}")
      for s in data.slides.slide
        div(class=data.slides.class)
          if(s.cards)
            +card(s.cards)





mixin iwmRegistrationForm(obj)
  -var iwm  = obj.content
  -var classes = (!iwm.hidden) ? 'ibm-band ui-expand-form show '+iwm.class : 'ibm-band ui-expand-form '+iwm.class

  section(data-cta="#{iwm.dataCta}" style="background-color:#{iwm.background};" class="#{classes}")
    .ibm-columns
      .ibm-center-block.ibm-center(class="#{iwm.formClass}")
        h2.ibm-h2.ibm-light !{iwm.headline)
        if iwm.text
        if iwm.subhead
          h3.ibm-h3 !{iwm.subhead}
        div(style="margin-top:20px;" id="#{obj.content.options.node}")

        script.

          function mrsCallback(status, status_code, data, e){

            e.showLoadingAnimation(false);
            if (status == 'SUCCESS') {
                // e.showMessage(e.defaultOptions.thankYouMessage);
                var win = window.open("/cloud-computing/bluemix/downloads/IBM_white_paper_Harnessing_APIs_and_platforms.pdf", "_blank");
                //win.focus();
            } else {
                e.showMessage('There was a problem submitting the form');
            }
          }
          var extraFields = !{JSON.stringify(iwm.extraFormFields)};

          if (extraFields.length > 0){
            var IWM = new iwmRegistrationForm(!{JSON.stringify(iwm.options)}, extraFields);
          }else{
            var IWM = new iwmRegistrationForm(!{JSON.stringify(iwm.options)});
          }

        -// this script manages the anchorTo or expand of the hidden form
        script(src="/cloud-computing/bluemix/javascripts/www-bluemix.js")



mixin announcementLeadspace(obj)
  -var data = obj.content
  -var textColor = (obj.content.msg.textColor != undefined) ? obj.content.msg.textColor : obj.content.msg.color
  div(class="wow fadeIn")&attributes( (data.background) ? {'style':data.background} : '', (data.class) ? {'class':data.class} : '')
    div(class="ibm-columns" )&attributes( (data.columnsClass) ? {'class':data.columnsClass} : '' )
      .ibm-col-6-4
        h3.ibm-h3 !{data.msg.subhead}
        h5.ibm-h5()&attributes( (data.msg.textColor) ? {'style':'color:'+data.msg.textColor} : {'style':'color:#000'} ) !{data.msg.text}
      if(data.cta)
        .ibm-col-6-2.ibm-alternate-background
          if(data.cta)
            +cta(data.cta)





mixin bluemixCloudantFilter(obj)
  <!--bluemix cloudant feed pulls content from a service -->
  div(class=" "+obj.content.class style=obj.content.background)
    div(class="ibm-columns")
      div(data-widget="dyntabs" role="toolbar" aria-label="Tab Navigation" class="ibm-graphic-tabs ibm-dyntabs")
        div(class="ibm-tab-section")
          ul(id=obj.content.options.tabListID role="tablist" class="ibm-tabs")
  div(style=obj.content.style)
    div(style="min-height:1000px" id=obj.content.options.masoryContainerID class="ibm-container-body")
    script.
      var opts = !{JSON.stringify(obj.content.options)};
      new bluemixCloudantFilter(opts);
  <!--END bluemix cloudant feed-->

//filter using isotope
mixin caseStudy(obj)
  - var tiles = obj.content.tiles
  section#filters.filter-nav.companies.ibm-graphic-tabs.ibm-dyntabs
    div.ibm-columns
      .ibm-col-6-1.ibm-hidden-medium
        span.ibm-h4.ibm-textcolor-white-core(style="padding-top:10px") Filter by industry:
      .ibm-col-6-5
        ul.ibm-tabs
          li
            a.active(href='#', data-filter='.all') All
          li
            a(href='#', data-filter='.education') Education
          li
            a(href='#', data-filter='.energy') Energy
          li
            a(href='#', data-filter='.finance') Finance
          li
            a(href='#', data-filter='.healthcare') Healthcare
          li
            a(href='#', data-filter='.retail') Retail
          li
            a(href='#', data-filter='.technology') Technology
          li
            a(href='#', data-filter='.more') More
        .row.comp-select-m(style="width:100%")
          .select-label All
          select(onchange='javascript: void(0);')
            option(value='.all') All
            option(value='.education') Education
            option(value='.energy') Energy
            option(value='.finance') Finance
            option(value='.healthcare') Healthcare
            option(value='.retail') Retail
            option(value='.technology') Technology
            option(value='.more') More

  section.filter-content
    #tile-wrapper.isotope.ibm-columns
      for tile in tiles
        - var tileCat = tile.category.toLowerCase()
        .tile-cnt.all(class=tileCat)
          span.number=tile.number
          span.name=tile.name
          div.ibm-widget-processed
            if (tile.is_new)
              img.new-flag(src='/cloud-computing/bluemix/images/new-flag.png')
            table.tile-logo(class="#{tile.image_class}")
              tr
                td(align='center', valign='middle')
                  img(src="#{tile.image}", alt="#{tile.image_alt}")
            h3.ibm-h4.ibm-padding-top-1 !{tile.category}
            h2.ibm-h4.ibm-padding-top-10 !{tile.desc}
            div.ibm-card__bottom
              p.ibm-ind-link
                a.ibm-forward-link(href="#{tile.href}", target='_new')=tile.link
              ul.social-tools(data-ibm-biz="#{tile.href}")
                for share in tile.social
                  li
                    a(href="#{share.href}", class="#{share.link_class}")
  script.
    companyTiles();
      $(window).load(function(){
            new socialShare({'node':'tile-wrapper'});
            })




//- featured tiles
mixin featuredTiles(obj)
  if(obj.content.type == "case-study")
  .ibm-columns.ibm-textcolor-black-core
    .ibm-col-6-3.ibm-padding-top-1
      h1.ibm-h1.ibm-light !{obj.header}
    .ibm-col-6-3
      if (obj.content.cta)
        +cta(obj.content.cta)
  div(class="#{obj.content.classes}" style="overflow:hidden")
    section.co-wrapper-tile
      - var bg_l = obj.content.featured.bg ? "background-image:url(" + obj.content.featured.bg + ")" : ""
      a.co-tile.co-tile-1.bg-image-cover(style=bg_l href="#{obj.content.featured.href}")
        .co-tile-content
          //p.ibm-textcolor-white-core.ibm-small.ibm-light=obj.content.featured.category
          .co-tile-content-bottom.ibm-textcolor-white-core
            p.ibm-light=obj.content.featured.category
            h2.ibm-h2=obj.content.featured.title
              span.ibm-icon-nolink.ibm-forward-link
            p.ibm-ind-link !{obj.content.featured.copy}
    section.co-wrapper-tile
      for tile, i in obj.content.small
        - var bg_s = tile.bg_sm ? "background-image:url(" + tile.bg_sm + ")" : ""
        a.co-tile(style=bg_s href="#{tile.href}", class="#{tile.classes}")
          .co-tile-content
            //p.ibm-textcolor-white-core.ibm-small.ibm-light
              //span.ibm-hidden-small=tile.category
            .co-tile-content-bottom
              p.ibm-textcolor-white-core.ibm-light
                span=tile.category
              h2.ibm-h2.ibm-textcolor-white-core=tile.title
                span.ibm-icon-nolink.ibm-forward-link
              p.ibm-textcolor-white-core=tile.copy

//- featured tiles with video
mixin featuredTilesVideo(obj)
  if(obj.content.type == "case-study")
  .ibm-columns.ibm-textcolor-black-core
    .ibm-col-6-3.ibm-padding-top-1
      h1.ibm-h1.ibm-light !{obj.header}
    .ibm-col-6-3
      if (obj.content.cta)
        +cta(obj.content.cta)
  div(class="#{obj.content.classes}" style="overflow:hidden")
    section.co-wrapper-tile
      - var bg_l = obj.content.featured.bg ? "background-image:url(" + obj.content.featured.bg + ")" : ""
      - var video = obj.content.featured.video
      a.co-tile.co-tile-1.bg-image-cover(style=bg_l data-overlayplayersize="large" data-widget="videoplayer" data-videodisplay=video.display data-videoid=video.id data-videotype=video.type data-showvideoduration="true" href=video.url)
        .co-tile-content
          .co-tile-content-bottom.ibm-textcolor-white-core
            p.ibm-light !{obj.content.featured.category}
            h2.ibm-h2 !{obj.content.featured.title}
              span.ibm-icon-nolink.ibm-forward-link
            p!=obj.content.featured.copy
        if(video.timeStamp)
          .ibm-video-timestamp !{video.timeStamp}
    section.co-wrapper-tile
      for tile, i in obj.content.small
        - var bg_s = tile.bg_sm ? "background-image:url(" + tile.bg_sm + ")" : ""
        a.co-tile(style=bg_s data-overlayplayersize="large" data-widget="videoplayer" data-videodisplay=tile.video.display data-videoid=tile.video.id data-videotype=tile.video.type data-showvideoduration="true" href=tile.video.url class="#{tile.classes}")
          .co-tile-content
            .co-tile-content-bottom
              p.ibm-textcolor-white-core.ibm-light
                span=tile.category
              h2.ibm-h2.ibm-textcolor-white-core !{tile.title}
                span.ibm-icon-nolink.ibm-forward-link
              p.ibm-textcolor-white-core !{tile.copy}
          if(tile.video.timeStamp)
            .ibm-video-timestamp !{tile.video.timeStamp}




mixin announcement(obj)
  .ibm-band.wow.fadeIn(style=obj.content.background)
    .ibm-columns.ibm-padding-top-1
      .ibm-col-6-4
        h3.ibm-h3(style=obj.content.msg.style)=obj.content.msg.text
        h5.ibm-h5(style=obj.content.msg.style)= obj.content.msg.subText
      .ibm-col-6-2.ibm-alternate-background
        p.ibm-btn-link.ibm-padding-top-10
          a.ibm-btn-sec.ibm-btn-white(href=obj.content.cta.url)= obj.content.cta.text




mixin definitionValueProposition(obj)

  .ibm-band.ibm-padding-top-2.ibm-padding-bottom-2(style=obj.content.background)
    .ibm-columns
      if(obj.content.headline)
        .ibm-col-1-1.ibm-padding-bottom-2
          +headline(obj.content.headline)
      for c in obj.content.cards
        div(class=c.class)
          if(c.image)
            .ibm-padding-bottom-1.ibm-center
              img.ibm-center-block(src=c.image.src width="70%" height="70%")
          if(c.headline)
            h3.ibm-h3= c.headline



mixin list(obj)
  - var listContent = obj
  - var style = ''
  if(obj.items)
    - style = (obj.style) ? obj.style : ''
    - listContent = obj.items

  ul(style=style)  
    for l in listContent
      if(l.url)
        li()&attributes( (l.class) ? {'class':l.class} : '')
          a(href=l.url)&attributes( (l.class) ? {'class':l.class} : '', (l.style) ? {'style':l.style} : '', (l.target) ? {'target':l.target} : '') !{l.text}
      else
        li()&attributes( (l.class) ? {'class':l.class} : '') !{l.text}


mixin cta(obj)
  //-var style = (obj.style) ? obj.style : ""
  if (obj.video)
    p(class= (obj.parentClass) ? obj.parentClass : "ibm-btn-link ibm-padding-top-1" (obj.style) ? style=obj.style : "")
      a(href=obj.url data-videodisplay=obj.video.display  data-videoid=obj.video.id data-videotype=obj.video.type data-widget="videoplayer" data-overlayplayersize="large" data-showvideoduration="false" data-showvideotitle="false" )&attributes( (obj.class) ? {'class':obj.class} : '', (obj.onClick) ? {'onclick':obj.onClick} : '', (obj.target) ? {'target':obj.target} : '') !{obj.text}
  else
    p(class= (obj.parentClass) ? obj.parentClass : "ibm-btn-link ibm-padding-top-1" style=(obj.style) ? obj.style : "")
      a(href=obj.url )&attributes( (obj.class) ? {'class':obj.class} : '', (obj.onClick) ? {'onclick':obj.onClick} : '', (obj.target) ? {'target':obj.target} : '') !{obj.text}



mixin ctagroup(obj)
  if(obj.type == "inline")
    p(class=obj.class)
     for a in obj.cta
      span
        a(class=a.class href=a.url target=a.target)= a.text
  else
    for a in obj.cta
     p(class=obj.class)
       a(class=a.class href=a.url target=a.target)= a.text


 mixin eyebrow(obj)
   if(typeof obj === "object")
     h4(class=obj.class style=obj.style) !{obj.text}
   else
     h4.ibm-h4 !{obj}

 mixin headline(obj)
   if(typeof obj === "object")
     h2(class=obj.class style=obj.style) !{obj.text}
   else
     h2.ibm-h2 !{obj}

 mixin subhead(obj)
   if(typeof obj === "object")
     h3(class=obj.class style=obj.style) !{obj.text}
   else
     h3.ibm-h3 !{obj}

 mixin subheadh4(obj)
   if(typeof obj === "object")
     h4(class=obj.class style=obj.style) !{obj.text}
   else
     h4.ibm-h4 !{obj}

 mixin text(obj)
   if(typeof obj === "object")
     p(class=obj.class style=obj.style) !{obj.text}
   else
     p !{obj}
     
 mixin pullQuote(obj)
   if(typeof obj === "object")
     .ibm-pull-quote(class=obj.class style=obj.style)
       blockquote
         p
           em
             span.ibm-pullquote-open &#8220;
             !{obj.text}
             span.ibm-pullquote-close &#8221;
         p(class=obj.source.class style=obj.source.style) !{obj.source.text}
   else
     p !{obj}


mixin image(obj)
 if(obj.url && obj.url != "")
   a(href=obj.url)&attributes( (obj.target) ? {'target':obj.target} : '' )
     img(src=obj.src class="ibm-resize")&attributes( (obj.class) ? {'class':obj.class} : '', (obj.style) ? {'style':obj.style} : '', (obj.alt ) ? {'alt':obj.alt} : '' )
 else
   img(src=obj.src class="ibm-resize")&attributes( (obj.class) ? {'class':obj.class} : '', (obj.style) ? {'style': obj.style} : '', (obj.alt ) ? {'alt':obj.alt} : '')

mixin mediaObject(obj)
  .ibm-mo.ibm-mo--top
    .ibm-mo__image
      if(obj.image)
        +image(obj.image)
    .ibm-mo__body
      if(obj.subhead)
        +subhead(obj.subhead)
      if(obj.text)
        +text(obj.text)
      if(obj.cta)
        +cta(obj.cta)

mixin icon(obj)
 if(obj.url && obj.url != "")
   div()&attributes( (obj.class) ? {'class':obj.class} : '' )
     a(href=obj.url)&attributes( (obj.target) ? {'target':obj.target} : '' )
       img(src=obj.src style="width:70px;")&attributes( (obj.class) ? {'class':obj.class} : '', (obj.style) ? {'style':obj.style} : '', (obj.alt ) ? {'alt':obj.alt} : '')
 else
   div()&attributes( (obj.class) ? {'class':obj.class} : '' )
     img(src=obj.src style="width:70px;")&attributes( (obj.class) ? {'class':obj.class} : '', (obj.style) ? {'style': obj.style} : '', (obj.alt ) ? {'alt':obj.alt} : '')



mixin tabs(obj)
  ul(class="ibm-tabs" role="tablist")
    each t, index in obj
      li(class=( index==0 ) ? "ibm-first-tab "+t.class : t.class)
        a(aria-selected=( index==0 ) ? "true" : "false" href="#"+t.prefix+index)= t.label
  div(class="ibm-container-body ibm-padding-top-1 "   style="overflow-x:scroll;background-color:#1d3649;")
    each t, index in obj
      div(class="ibm-tabs-content" id=t.prefix+index)

        if(t.content.text)
          +text(t.content.text)
        if(t.content.ctagroup)
          +ctagroup(t.content.ctagroup)
        if(t.content.list)
          +list(t.content.list)
        if(t.content.cards)
          +card(t.content.cards)



mixin tabgroup(obj)
  div(class=obj.content.class style=obj.content.background)
    if(obj.content.headline)
      +headline(obj.content.headline)
    if(obj.content.subhead)
      +subhead(obj.content.subhead)
    if(obj.content.text)
      +text(obj.content.text)
    if(obj.content.tabs)
      div(data-widget="dyntabs" class="ibm-dyntabs"  style="overflow-x:hidden;")
        div(class=obj.content.tabClass)
          ul(class=obj.content.ulClass role="tablist")
            each t, index in obj.content.tabs
              li( role="presentation" class=( index==0 ) ? "ibm-first-tab "+t.class : t.class)
                a( role="tab" aria-selected=( index==0 ) ? "true" : "false" href="#"+t.prefix+index)= t.label
          div(class=obj.content.contentClass   style=obj.content.contentStyle)
            each t, index in obj.content.tabs
              div(class="ibm-tabs-content" id=t.prefix+index)

                if(t.content.text)
                  +text(t.content.text)
                if(t.content.ctagroup)
                  +ctagroup(t.content.ctagroup)
                if(t.content.list)
                  +list(t.content.list)
                if(t.content.cards)
                  +card(t.content.cards)






mixin featuredServices(obj)
  div(class="#{obj.content.class}" style="#{obj.content.background}" data-widget="setsameheight" data-items=".ibm-card" data-always="true")
    .ibm-columns
      .ibm-col-1-1.ibm-alternate-background
        h3.ibm-h3.ibm-light.ibm-mobile-small.ibm-padding-bottom-1=obj.content.headline
    .ibm-columns
      .ibm-col-1-1
        .ibm-columns
          for c in obj.content.cards
            div(class=c.class)
              div(class="ibm-card")
                div(class="ibm-mo ibm-mo--top")
                  div(class="ibm-mo__image")
                    div(class="icon-container")
                      img(src=c.img)
                  div(class="ibm-mo__body")
                    h5.ibm-h5.ibm-bold(style="color:#fff;")= c.headline
                    if(c.tags)
                      div( class="bluemix-catalog-details" )
                        for tag in c.tags
                          h5.ibm-tag= tag
                    p(style="color:#fff;")=c.text
                    if(c.cta)
                      +cta(c.cta)
      div(class="ibm-col-1-1 ibm-center ibm-padding-top-30")
        if(obj.content.cta)
          +cta(obj.content.cta)






mixin related(obj)
  div(class="#{obj.content.class}" style="#{obj.content.background}")
    div(data-widget="setsameheight" data-items="> div > div" class="ibm-columns ibm-widget-processed")
      for c in obj.content.cards
        div( class="ibm-col-6-2 ibm-col-medium-1-1" )
          div( class="ibm-card" style=c.style)
            div( class="ibm-card__content" )
              h3(class="ibm-h3 ibm-textcolor-gray-80 ibm-regular ibm-padding-bottom-r1")= c.headline
              if(c.list)
                ul
                  for l in c.list
                    li
                      a(class=l.class href=l.url target=l.target)= l.text
              if(c.video)
                +video(c.video)
                p(class="ibm-bold ibm-textcolor-blue-30")= c.video.text
              if(c.image)
                +image(c.image)
                p(class="ibm-bold ibm-textcolor-blue-30") !{c.image.text}


mixin introduction(obj)
 div(class=obj.content.class style="#{obj.content.background} "+obj.content.style)
   .ibm-columns
     .ibm-col-6-4.wow.fadeIn
       if (obj.content.headline)
         h2.ibm-h2.ibm-light= obj.content.headline
       if (obj.content.subhead)
         +subhead(obj.content.subhead)
       if (obj.content.text)
         p.ibm-light !{obj.content.text}
       if(obj.content.list)
         +list(obj.content.list)
       if(obj.content.cta)
         +cta(obj.content.cta)
       if(obj.content.ctagroup)
         +ctagroup(obj.content.ctagroup)



mixin introductionCenter(obj)
  div(class="ibm-center "+obj.content.class style="#{obj.content.background} "+obj.content.style)
    .ibm-columns
      .ibm-col-6-4.ibm-center-block.wow.fadeIn
        if (obj.content.headline)
          h2.ibm-h2.ibm-light= obj.content.headline
        if (obj.content.subhead)
          +subhead(obj.content.subhead)
        if (obj.content.text)
          p.ibm-light !{obj.content.text}
        if(obj.content.list)
          +list(obj.content.list)
        if (obj.content.cta)
          +cta(obj.content.cta)
        if(obj.content.ctagroup)
          +ctagroup(obj.content.ctagroup)




mixin video(obj)
  if(obj.display == "inline")
    div(data-videodisplay=obj.display  data-videoid=obj.id data-videotype=obj.type href=obj.url data-widget="videoplayer" data-customplaceholder="true" data-showvideoduration="false" data-showvideotitle="false" class="ibm-video-player-con" )
      div
        a(href=obj.url class="ibm-video-placeholder")
          img(alt=obj.title src=obj.img class="ibm-resize")
          if(obj.timeStamp)
            .ibm-video-timestamp !{obj.timeStamp}
  else
    div(data-videodisplay=obj.display  data-videoid=obj.id data-videotype=obj.type href=obj.url data-widget="videoplayer" data-overlayplayersize="large" data-showimageplaybutton="true" data-customplaceholder="true" data-showvideoduration="false" data-showvideotitle="false" class="ibm-video-player-con" )
      div
        a(href=obj.url class="ibm-video-placeholder")
          img(alt=obj.title src=obj.img class="ibm-resize")
          if(obj.timeStamp)
            .ibm-video-timestamp !{obj.timeStamp}




mixin videoBand(obj)
  div(style="#{obj.content.background}; background-size:cover;position:relative;" class=(obj.content.class) ? obj.content.class : "")
    if(obj.content.timeStamp)
      .ibm-video-timestamp !{obj.content.timeStamp}
    p
      a(data-widget="videoplayer" data-videotitleoverridde=obj.content.headline data-videodisplay="overlay" data-videoid=obj.content.id data-overlayplayersize="large" data-showvideoduration="false" data-showimageplaybutton="true" data-videotype=obj.content.type href=obj.content.url)
        img(src=obj.content.img_transprarent alt=obj.content.headline)
    if (obj.content.headline)
      .ibm-col-6-4.ibm-center-block.text-center.ibm-padding-top-r1
        h2.ibm-h2.ibm-light= obj.content.headline
        if (obj.content.subhead)
          p.ibm-light= obj.content.subhead
  if(obj.content.ctagroup)
    div(class="ibm-col-6-4 ibm-center-block")
      +ctagroup(obj.content.ctagroup)








mixin cardContent(c)
 if(c.eyebrow)
   +eyebrow(c.eyebrow)
 if(c.icon)
   +icon(c.icon)
 if(c.image)
   +image(c.image)
 if(c.video)
   +video(c.video)
 if(c.mediaObject)
   +mediaObject(c.mediaObject)

 if(c.headline || c.subhead || c.subheadh4 || c.text || c.eyebrowInCardContent || c.pullQuote || c.list)
   div(class="ibm-card__content ibm-padding-bottom-1")
     if(c.eyebrowInCardContent)
       +eyebrow(c.eyebrowInCardContent)
     if(c.headline)
       +headline(c.headline)
     if(c.subhead)
       +subhead(c.subhead)
     if(c.subheadh4)
       +subheadh4(c.subheadh4)
     if(c.text)
       +text(c.text)
     if(c.pullQuote)
       +pullQuote(c.pullQuote)
     if(c.list)
       +list(c.list)
   if(c.cta)
     div(class="ibm-card__bottom")
       +cta(c.cta)
   if(c.ctagroup)
     div(class="ibm-card__bottom")
       +ctagroup(c.ctagroup)


mixin card(obj, type)
 if(obj instanceof Array)
   div(data-widget="setsameheight" data-items=".ibm-card" class="ibm-columns ibm-cards ibm-textcolor-black-core")&attributes(type == 'seamless' ? {"class":"ibm-seamless"}: '')
     for c in obj
       .wow.fadeIn()&attributes( (c.class) ? {'class':c.class} : {'class':''})
         .ibm-card.ibm-center()&attributes( (c.style) ? {'style':c.style} : {'style':''})
           +cardContent(c)

 else
   div(data-widget="setsameheight" data-items=".ibm-card" class="ibm-columns ibm-cards ibm-textcolor-black-core")&attributes(type == 'seamless' ? {"class":"ibm-seamless"}: '')
     for c in obj.card
       div( class="wow fadeIn" )&attributes( (obj.class) ? {'class':obj.class} : {'class':''})
         div(class=(c.class!=undefined)?"ibm-card  #{c.class}":"ibm-card " style="#{obj.style} "+c.style)
           +cardContent(c)



mixin products(obj)
  div(style=obj.content.background class=obj.content.class)&attributes(obj.content.parallax ? {"data-widget":"parallaxscroll", "data-disablesmallgrid":"true"}:'')
    if(obj.content.headline)
      div(class="ibm-columns ibm-padding-bottom-1")
        div(class="ibm-col-6-4 ibm-center-block ibm-center")
          if(obj.content.headline)
            +headline(obj.content.headline)
          if(obj.content.subhead)
            +subhead(obj.content.subhead)
          if(obj.content.text)
            +text(obj.content.text)
    if(obj.content.cards)
      +card(obj.content.cards, obj.content.type)
    if(obj.content.cta)
      div(class="ibm-columns ibm-center")
        +cta(obj.content.cta)



mixin feature2col(obj)
  -var style = (obj.content.style != undefined) ? obj.content.style : ""
  div(style="#{obj.content.background}"+style class=obj.content.class)
    if(obj.content.headline)
      div(class="ibm-columns ibm-padding-bottom-1")
        div(class="ibm-col-6-4 ibm-center-block ibm-center")
          if(obj.content.headline)
            +headline(obj.content.headline)
          if(obj.content.subhead)
            +subhead(obj.content.subhead)
          if(obj.content.text)
            +text(obj.content.text)

    div(class="ibm-columns")&attributes(obj.content.setsameheight ? {"data-widget":"setsameheight", "data-items":obj.content.setsameheight.class} : '')
      for c in obj.content.cards
        div(style="#{c.background}" class=c.class)
          if(c.mediaObject)
            +mediaObject(c.mediaObject)
          if(c.imagetop)
            +image(c.imagetop)
          if(c.eyebrow)
            +eyebrow(c.eyebrow)
          if(c.pullQuote)
            +pullQuote(c.pullQuote)
          if(c.headline)
            +headline(c.headline)
          if(c.subhead)
            +subhead(c.subhead)
          if(c.text)
            +text(c.text)
          if(c.video)
            +video(c.video)
          if(c.image)
            +image(c.image)
          if(c.list)
            +list(c.list)
          if(c.list2)
            +list(c.list2) 
          if(c.ctagroup)
            +ctagroup(c.ctagroup)
          if(c.cta)
            +cta(c.cta)
          if(c.tabgroup)
            +tabgroup(c.tabgroup)

mixin tabV18(data, active)
     - var className = ""
     if (active) 
       - className = 'ibm-highlight'

     if(data.secondary_tabs)
       li(role="presentation" class="ibm-haschildlist ibm-highlight")
         span(role="menuitem")=data.label
         ul(role="menu")
           for sub in data.secondary_tabs
             //
               if(sub.tabs)
                 li(role="presentation" class="ibm-haschildlist ibm-highlight")
                   span(role="menuitem")=sub.label
                   ul(role="menu")
                     for subsub in sub.tabs
                       li(role="presentation")
                         a(role="menuitem" href=subsub.href aria-label=subsub.label)=subsub.label
               else
                 li(role="presentation")
                   a(role="menuitem" href=sub.href aria-label=sub.label)=sub.label
                   
             li(role="presentation")
               a(role="menuitem" href=sub.href aria-label=sub.label onclick="#{sub.onClick}")=sub.label

     else
       li(role="presentation" class="#{className}")
         a(role="menuitem" href=data.href aria-label=data.label onclick="#{data.onClick}")=data.label

mixin bluemixTable
  .ibm-band.ibm-padding-top-3.ibm-padding-bottom-1.ibm-background-white-core.ibm-textcolor-gray-50
      .ibm-columns
          .ibm-col-1-1.ibm-center.ibm-padding-bottom-2
              h2.ibm-h2="Blockchain Landscape"
              //- p 25 words Lorem ipsum dolor. Sit amet pede. Ipsum nam mauris. Morbi in sit augue risus sem nam est scelerisque. Explicabo vel luctus sodales quis ipsum et.
          .ibm-col-1-1.bluemix-table
            table.ibm-col-1-1.bluemix-table
              thead
                  tr
                      th 
                      td Bitcoin
                      td Ethereum
                      td Hyperledger
              tbody
                  tr
                      th currency
                      td.
                        bitcoin
                      td.
                        ether, user-created<br>cryptocurrencies
                      td.
                        none
                  tr
                      th network
                      td.
                        public
                      td.
                        public or permissioned
                      td.
                        public or permissioned
                  tr
                      th transactions
                      td.
                        anonymous
                      td.
                        anonymous or private
                      td.
                        anonymous, private<br> or confidential
                    tr
                        th cryptography
                        td.
                          proof of work
                        td.
                          proof of stake
                        td.
                          PBFT
                    tr
                        th smart contracts<br>(business logic)
                        td.
                          none
                        td.
                          yes (Solidity)
                        td.
                          yes (chain code)
                    tr
                        th work with other blockchains
                        td.
                          lorem ipsum
                        td.
                          lorem ipsum
                        td.
                          yes
                      tr
                          th language
                          td.
                            C++
                          td.
                            golfing, C++, python
                          td.
                            golang, java
                      tr
                          th
                            br
                          td
                            br
                          td
                            br
                          td
                            br

mixin featureGridHome
  .featured-tiles
    section.co_wrapper_tile
      .anchor-el.co_tile_1.bg-image-cover.featured-content(style='background-image:url(/images/blockchain/home-featured-content-tile.jpg)', data-href='/blockchain/what-is-blockchain')
        //p.ibm-small.tile-cat.ibm-light PRODUCT
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-forward-link.ibm-inlinelink.ibm-icon-after.ibm-bold
            | The basics of <br> blockchain
          p.ibm-textcolor-black-core 
            | Reimagine your most<br>fundamental transactions
    section.co_wrapper_tile.ibm-widget-processed(data-widget='setsameheight', data-items='p.tile-copy')
      .tile-sm.anchor-el.co_tile_2.ibm-background-green-40.bg-image-cover(data-ga-outbound="true" data-href='https://www-935.ibm.com/services/us/gbs/thoughtleadership/blockchain/?1' style='background-image:url(/images/blockchain/home-tile-sm1.jpg)')
        p.ibm-textcolor-white-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small EXECUTIVE REPORT
        .tile-content.tile-content-bottom
          a.ibm-textcolor-white-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-bold Transform<br>the enterprise
          p.ibm-light.ibm-textcolor-white-core.tile-copy(style='height: 52px;') Rethinking enterprises, ecosystems, and economies with blockchains
      .tile-sm.anchor-el.co_tile_3.ibm-background-green-core.bg-image-cover(data-ga-outbound="true" data-href='https://discover-iot-blockchain.eu-gb.mybluemix.net/iot-blockchain.html' style='background-image:url(/images/blockchain/home-tile-sm2.jpg)')
        p.ibm-textcolor-white-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small WEB PAGE
        .tile-content.tile-content-bottom
          a.ibm-textcolor-white-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-bold Watson IoT<br>and Blockchain
          p.ibm-light.ibm-textcolor-white-core.tile-copy(style='height: 52px;') Discover what's possible when you connect devices to blockchain
      .tile-sm.anchor-el.co_tile_4.ibm-background-green-core.bg-image-cover(data-href='/blockchain/for-business' style='background-image:url(/images/blockchain/home-tile-sm3.jpg)')
        p.ibm-textcolor-white-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small WEB PAGE
        .tile-content.tile-content-bottom
          a.ibm-textcolor-white-core.ibm-h3.ibm-forward-link.ibm-inlinelink.ibm-icon-after.ibm-bold Business Solutions
          p.ibm-light.ibm-textcolor-white-core.tile-copy(style='height: 52px;') What can IBM Blockchain do for you business?
      .tile-sm.anchor-el.co_tile_5.ibm-background-green-60.bg-image-cover( data-overlayplayersize="large" data-widget="videoplayer" data-videodisplay="overlay" data-videoid="IgNfoQQ5Reg" data-videotype="youtube" data-showvideoduration="false" data-showvideotitle="false"  style=' margin-bottom:0!important; background-image:url(/images/blockchain/home-tile-sm4.jpg);')
        p.ibm-textcolor-white-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small VIDEO
        .tile-content.tile-content-bottom
          a.ibm-textcolor-white-core.ibm-h3.ibm-forward-link.ibm-inlinelink.ibm-icon-after.ibm-bold Use Case
          p.ibm-light.ibm-textcolor-white-core.tile-copy(style='height: 52px;') See how blockchain technology impacts the supply chain process for a simple car lease

mixin featureGridHomeV2
  .featured-tiles
    section.co_wrapper_tile
      .anchor-el.co_tile_1.bg-image-cover.featured-content(style='background-image:url(/images/blockchain/home-featured-content-tile.jpg)', data-href='/blockchain/what-is-blockchain')
        //p.ibm-small.tile-cat.ibm-light PRODUCT
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-forward-link.ibm-inlinelink.ibm-icon-after.ibm-bold
            | The basics of <br> blockchain
          p.ibm-textcolor-black-core 
            | Reimagine your most<br>fundamental transactions
    section.co_wrapper_tile.ibm-widget-processed(data-widget='setsameheight', data-items='p.tile-copy')
      #hover1.tile-sm.anchor-el.co_tile_2.ibm-background-green-40.bg-image-cover(data-ga-outbound="true" data-href='https://www-935.ibm.com/services/us/gbs/thoughtleadership/blockchain/?1' style='background-image:url(/images/blockchain/home-tile-sm1.jpg)')
        p.ibm-textcolor-white-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small EXECUTIVE REPORT
        .tile-content.tile-content-bottom
          a.ibm-textcolor-white-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-bold Transform<br>the enterprise
          p.ibm-light.ibm-textcolor-white-core.tile-copy(style='height: 52px;') Rethinking enterprises, ecosystems, and economies with blockchains
      #hover2.tile-sm.anchor-el.co_tile_3.ibm-background-green-core.bg-image-cover(data-ga-outbound="true" data-href='https://discover-iot-blockchain.eu-gb.mybluemix.net/iot-blockchain.html' style='background-image:url(/images/blockchain/home-tile-sm2.jpg)')
        p.ibm-textcolor-white-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small WEB PAGE
        .tile-content.tile-content-bottom
          a.ibm-textcolor-white-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-bold Watson IoT<br>and Blockchain
          p.ibm-light.ibm-textcolor-white-core.tile-copy(style='height: 52px;') Discover what's possible when you connect devices to blockchain
      #hover3.tile-sm.anchor-el.co_tile_4.ibm-background-green-core.bg-image-cover(data-href='/blockchain/for-business' style='background-image:url(/images/blockchain/home-tile-sm3.jpg)')
        p.ibm-textcolor-white-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small WEB PAGE
        .tile-content.tile-content-bottom
          a.ibm-textcolor-white-core.ibm-h3.ibm-forward-link.ibm-inlinelink.ibm-icon-after.ibm-bold Business Solutions
          p.ibm-light.ibm-textcolor-white-core.tile-copy(style='height: 52px;') What can IBM Blockchain do for you business?
      #hover4.tile-sm.anchor-el.co_tile_5.ibm-background-green-60.bg-image-cover( data-overlayplayersize="large" data-widget="videoplayer" data-videodisplay="overlay" data-videoid="IgNfoQQ5Reg" data-videotype="youtube" data-showvideoduration="false" data-showvideotitle="false"  style=' margin-bottom:0!important; background-image:url(/images/blockchain/home-tile-sm4.jpg);')
        p.ibm-textcolor-white-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small VIDEO
        .tile-content.tile-content-bottom
          a.ibm-textcolor-white-core.ibm-h3.ibm-forward-link.ibm-inlinelink.ibm-icon-after.ibm-bold Use Case
          p.ibm-light.ibm-textcolor-white-core.tile-copy(style='height: 52px;') See how blockchain technology impacts the supply chain process for a simple car lease

mixin featureGridForBusiness
  .featured-tiles
    section.co_wrapper_tile
      .anchor-el.co_tile_1.bg-image-cover.featured-content(style='background-image:url()', data-href='http://www.softlayer.com/info/five-hundred')
        //p.ibm-small.tile-cat.ibm-light PRODUCT
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light How Businesses and Governments Can Capitalize on Blockchain
          p.ibm-textcolor-black-core Ligula convallis mattis ornare velit ultricies adipisicing diam et ultricies lacus orci ipsum sed venenatis. Lacinia auctor vitae morbi magnis ullamcorper parturient pellentesque quis. Placerat sed aenean. Suspendisse sed feugiat.
    section.co_wrapper_tile.ibm-widget-processed(data-widget='setsameheight', data-items='p.tile-copy')
      .tile-sm.anchor-el.co_tile_2.ibm-background-blue-20(data-href='http://www.ibm.com/cloud-computing/bluemix/')
        //p.ibm-textcolor-black-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small PRODUCT
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light Saving the future of the IoT
          //p.ibm-textcolor-black-core.tile-copy(style='height: 52px;') Move faster on both sides of the firewall.
      .tile-sm.anchor-el.co_tile_3.ibm-background-blue-40(data-href='http://www.ibm.com/cloud-computing/solutions/video/')
        //p.ibm-textcolor-black-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small SERVICE
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light Bitcoin Reveals the Future of Healthcare
          //p.ibm-textcolor-black-core.tile-copy(style='height: 52px;') The crowd wants the video. You want the crowd.
      .tile-sm.anchor-el.co_tile_4.ibm-background-blue-50(data-ga-outbound="true" data-href='http://www.ibm.com/cloud-computing/infrastructure/object-storage/index.html')
        //p.ibm-textcolor-black-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small STORAGE
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light Jump-Start the Revolution to Quicker Cross-Border Transactions
          //p.ibm-textcolor-black-core.tile-copy(style='height: 52px;') Unmatched choice and flexibility with hybrid cloud object storage.
      .tile-sm.anchor-el.co_tile_5.ibm-background-blue-30(data-href='/blockchain/testpage')
        //p.ibm-textcolor-black-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small PRODUCT
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light Test Page for GA InSite Tracking
          //p.ibm-textcolor-black-core.tile-copy(style='height: 52px;') Expertise-rich SaaS apps running on a scalable cloud infrastructure.


mixin featureGridTest
  .featured-tiles
    section.co_wrapper_tile
      .anchor-el.co_tile_1.bg-image-cover.featured-content(style='background-image:url(/images/blockchain/featured-large.jpg)', data-href='http://www.softlayer.com/info/five-hundred')
        //p.ibm-small.tile-cat.ibm-light PRODUCT
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light Offer
          p.ibm-textcolor-black-core Ligula convallis mattis ornare velit ultricies adipisicing diam et ultricies lacus orci ipsum sed venenatis. Lacinia auctor vitae morbi magnis ullamcorper parturient pellentesque quis. Placerat sed aenean. Suspendisse sed feugiat.
    section.co_wrapper_tile.ibm-widget-processed(data-widget='setsameheight', data-items='p.tile-copy')
      .tile-sm.anchor-el.co_tile_2.ibm-background-blue-20.bg-image-cover(data-href='http://www.ibm.com/cloud-computing/bluemix/' style='background-image:url(/images/blockchain/featured-small.jpg)')
        p.ibm-textcolor-black-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small Video
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light IBM Joins Linux Foundation to Advance Blockchain
          //p.ibm-textcolor-black-core.tile-copy(style='height: 52px;') Move faster on both sides of the firewall.
      .tile-sm.anchor-el.co_tile_3.ibm-background-blue-40.bg-image-cover(data-href='http://www.ibm.com/cloud-computing/solutions/video/' style='background-image:url(/images/blockchain/featured-small.jpg)')
        p.ibm-textcolor-black-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small Video
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light Car lease DEMO
          //p.ibm-textcolor-black-core.tile-copy(style='height: 52px;') The crowd wants the video. You want the crowd.
      .tile-sm.anchor-el.co_tile_4.ibm-background-blue-50.bg-image-cover(data-href='https://www.ibm.com/cloud-computing/infrastructure/object-storage/index.html' style='background-image:url(/images/blockchain/featured-small.jpg)')
        p.ibm-textcolor-black-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small Article
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light Saving the future of the IoT
          //p.ibm-textcolor-black-core.tile-copy(style='height: 52px;') Unmatched choice and flexibility with hybrid cloud object storage.
      .tile-sm.anchor-el.co_tile_5.ibm-background-blue-30.bg-image-cover(data-href='https://www.ibm.com/cloud-computing/built-on-cloud' style='background-image:url(/images/blockchain/featured-small.jpg)')
        p.ibm-textcolor-black-core.ibm-hidden-small.tile-cat.tile-content.ibm-small.ibm-light
          span.ibm-hidden-small Article
        .tile-content.tile-content-bottom
          a.ibm-textcolor-black-core.ibm-h3.ibm-external-link.ibm-inlinelink.ibm-icon-after.ibm-light Making Blockchain Real for Business
          //p.ibm-textcolor-black-core.tile-copy(style='height: 52px;') Expertise-rich SaaS apps running on a scalable cloud infrastructure.

mixin homeDevelopers
  .ibm-band.ibm-padding-top-3.ibm-padding-bottom-3.home-developers-section(style='background: #FFFFFF url(/images/blockchain/home-developers-band-bg.png) right 0 no-repeat; background-size:auto 100%;')
    .ibm-columns(data-widget='setsameheight', data-items='.ibm-col-6-3')
      .ibm-col-6-3
        img.ibm-resize(src='/images/blockchain/Bluemix-logo.png', style='width:40px;height:40px;', alt='Bluemix logo')
        h3.ibm-h3
          strong Developers: Try out IBM Blockchain on a test network for free
        p
          | IBM Blockchain gives developers a wide variety of options to choose from when building a high security business network (HSBN.) Options range from simple and basic to more advanced.
        p.ibm-button-link.ibm-padding-top-1
          a.ibm-btn-sec(href='##__ReplaceWithOfferPage__##', target='_blank') Try out IBM Blockchain now
      .ibm-col-6-3.developers-col-2
        //.ibm-col-5-2.ibm-center-block(style='box-sizing: border-box; padding: 50px 0px 0px 80px; background: url("/images/blockchain/home-developers-card-bg.jpg") center center / cover no-repeat rgb(255, 255, 255);')
        .ibm-col-5-2.ibm-center-block.ibm-padding-top-r1(style=' background: url("/images/blockchain/home-developers-card-bg.jpg") center center / cover no-repeat rgb(255, 255, 255);display:flex;')
          .ibm-col-4-1.ibm-center-block
            h3.ibm-textcolor-white-core.ibm-custom-padding-top-10 Here are a few examples:
            ul.ibm-padding-bottom-r1
              li.ibm-textcolor-white-core.ibm-custom-padding-bottom-10 Hyperledger Fabric source code
              li.ibm-textcolor-white-core.ibm-custom-padding-bottom-10 IBM Blockchain on Bluemix
              li.ibm-textcolor-white-core.ibm-custom-padding-bottom-10
                | Docker images deployed to IBM
                br
                | Cloud and z System mainframes


mixin launchingBlockchain
  .ibm-band.ibm-padding-top-2.ibm-background-blue-40.ibm-alternate-background(style='background: #FFFFFF url(/images/blockchain/home-launching-section-bg.png) center center no-repeat; background-size:cover;')
    .ibm-columns.ibm-padding-bottom-1
      .ibm-col-6-4.ibm-center-block.ibm-center
        h2.ibm-h2.ibm-light Launching IBM Blockchain
    .ibm-columns.ibm-cards.ibm-textcolor-black-core(data-widget='setsameheight', data-items='.ibm-card')
      .ibm-col-5-4.ibm-center-block
        .wow.fadeIn.ibm-col-5-2(style="margin:0!important")
          .ibm-mo.ibm-mo--top
            .ibm-mo__image
              img.ibm-resize(src='/images/blockchain/home-contact-now.png', style='width:78px;', alt='IBM Blockchain contact now')
            .ibm-mo__body
              .ibm-card.ibm-card--noborder( style='background-color: transparent;')
                .ibm-card__content.ibm-padding-bottom-1
                  h3.ibm-h4.ibm-textcolor-white-core.ibm-padding-bottom-1 Contact an expert
                  p.ibm-light.ibm-textcolor-white-core Talk to someone about what blockchain can do for your business.
                .ibm-card__bottom
                  p.ibm-button-link.ibm-padding-top-1
                    a.ibm-btn-sec.ibm-btn-white(href='##__ReplaceWithFormPage__##') Contact now
        .wow.fadeIn.ibm-col-5-2(style="margin:0!important")
          .ibm-mo.ibm-mo--top
            .ibm-mo__image
              img.ibm-resize(src='/images/blockchain/home-get-started-now.png', style='width:78px;', alt='IBM Blockchain get started   now')
            .ibm-mo__body
              .ibm-card.ibm-card--noborder( style='background-color: transparent;')
                .ibm-card__content.ibm-padding-bottom-1
                  h3.ibm-h4.ibm-textcolor-white-core.ibm-padding-bottom-1 Get started with code
                  p.ibm-light.ibm-textcolor-white-core
                    | Ready to jump in? Learn how to set up a blockchain network as well as applications that can take advantage of it's capabilities.
                .ibm-card__bottom
                  p.ibm-button-link.ibm-padding-top-1
                    a.ibm-btn-sec.ibm-btn-white(href='/blockchain/getting-started') Get started now

mixin gettingStartedChainCode
  .ibm-band.ibm-padding-top-3.ibm-padding-bottom-1.ibm-background-white-core.home-developers-section(style='')
    .ibm-columns(data-widget='setsameheight', data-items='.ibm-col-6-3')
      .ibm-col-6-3.developers-col-2
        //.ibm-col-5-2.ibm-center-block(style='box-sizing: border-box; padding: 50px 0px 0px 80px; background: url("/images/blockchain/home-developers-card-bg.jpg") center center / cover no-repeat rgb(255, 255, 255);')
        .ibm-col-5-2.ibm-center-block.ibm-padding-top-r1
          img.ibm-resize(src="/images/blockchain/home-developers-card-bg.jpg")
      .ibm-col-6-3.ibm-padding-top-2
        img.ibm-resize(src='/images/blockchain/Bluemix-logo.png', style='width:40px;height:40px;', alt='Bluemix logo')
        h3.ibm-h3
          strong The bascis of chaincode
        p. Chaincode is a core component of the Hyperledger fabric. Learn how to use it and deploy an instance to your network to make transactions.
        p.ibm-button-link.ibm-padding-top-1
          a.ibm-btn-sec.ibm-btn-white(href='##__ReplaceWithOfferPage__##', target='_blank') CTA


mixin gettingStartedDevelopers
  .ibm-band.ibm-padding-top-3.ibm-padding-bottom-3.ibm-background-blue-50.ibm-alternate-background.home-developers-section(style='')
    .ibm-columns(data-widget='setsameheight', data-items='.ibm-col-6-3')
      .ibm-col-6-3
        img.ibm-resize(src='/images/blockchain/Bluemix-logo.png', style='width:40px;height:40px;', alt='Bluemix logo')
        h3.ibm-h3
          strong IBM Blockchain gives developers a variety of options to choose from when building a high security business network (HSBN).
        p.ibm-button-link.ibm-padding-top-1
          a.ibm-btn-sec.ibm-btn-white(href='##__ReplaceWithOfferPage__##', target='_blank') Try IBM Blockchain
      .ibm-col-6-3.developers-col-2
        //.ibm-col-5-2.ibm-center-block(style='box-sizing: border-box; padding: 50px 0px 0px 80px; background: url("/images/blockchain/home-developers-card-bg.jpg") center center / cover no-repeat rgb(255, 255, 255);')
        .ibm-col-5-2.ibm-center-block.ibm-padding-top-r1(style=' background: url("/images/blockchain/home-developers-card-bg.jpg") center center / cover no-repeat rgb(255, 255, 255);display:flex;')
          .ibm-col-4-1.ibm-center-block
            h3.ibm-textcolor-white-core.ibm-custom-padding-top-10 Here are a few examples:
            ul.ibm-padding-bottom-r1
              li.ibm-textcolor-white-core.ibm-custom-padding-bottom-10 Hyperledger Fabric source code
              li.ibm-textcolor-white-core.ibm-custom-padding-bottom-10 IBM Blockchain on Bluemix
              li.ibm-textcolor-white-core.ibm-custom-padding-bottom-10
                | Docker images deployed to IBM
                br
                | Cloud and z System mainframes

mixin contactForm
  .ibm-columns
    .ibm-col-1-1
      form#form.ibm-column-form(method='post', onsubmit='return validateForm();')
        input#campaignid(type='hidden', name='campaignid', value='Blockchain')
        input#thankyoupage(type='hidden', name='thankyoupage', value='http://www.ibm.com/blockchain/form_thanks.html')
        input#REQUIREDFIELDS(type='hidden', name='REQUIREDFIELDS', value='NELECADR,NFNAME,NLNAME')
        input#ERROR_NELECADR(type='hidden', name='ERROR_NELECADR', value='Contact Email')
        input#sort(type='hidden', name='sort', value='campaignid')
        input#ncountry(type='hidden', name='ncountry', value='us')
        p
          label(for='required')
            span.ibm-required (* required field)
          span
        p
          label(for='NFNAME')
            | First name:
            span.ibm-required *
          span
            input#NFNAME(required='', type='text', style='width:300px;', value='', size='40', name='NFNAME')
        p
          label(for='NLNAME')
            | Last name:
            span.ibm-required *
          span
            input#NLNAME(required='', type='text', style='width:300px;', value='', size='40', name='NLNAME')
        p
          label(for='NELECADR')
            | E-mail address:
            span.ibm-required *
          span
            input#NELECADR(required='', type='text', style='width:300px;', value='', size='40', name='NELECADR')
        p
          label(for='NCOMPANY')
            | Company name:
            span.ibm-required *
          span
            input#NCOMPANY( type='text', style='width:300px;', value='', size='40', name='NCOMPANY')
        //
          <p><label for="IDEASUPPORT">Content needed for the application:<span class="ibm-required">*</span><a title="Is the information to fuel your idea readily available, what is the source, and do you have access to it? What is the form of the content (e.g. structured/unstructured, books, webpages, etc)?" alt=""></a></label>
          <span><textarea id="IDEASUPPORT" cols="37.5" rows="5" name="IDEASUPPORT" maxlength="800"></textarea></span></p>
        p
          label(for='HOW_CAN_BLOCKCHAIN_HELP')
            | How can the blockchain team help you?
            span.ibm-required *
          span(required='')
            textarea#HOW_CAN_BLOCKCHAIN_HELP( rows='4', cols='38', style='width:292px;', name='HOW_CAN_BLOCKCHAIN_HELP') 								
        p
          label 
          | I accept IBM's 
          a(href='//www.ibm.com/privacy/us/en/', target='_new') Privacy statement
          |  and 
          a(href='//www.ibm.com/legal/us/en/?lnk=flg-tous-usen', target='_new') Terms of use
          | .
        p.ibm-btn-row
          label 
          input.ibm-btn-pri.ibm-btn-blue-50(name='ibm-submit', type='submit', value='Submit')
          input.ibm-btn-sec.ibm-btn-blue-50(type='button', name='ibm-cancel', value='Cancel', onclick="window.location.href='index.html'")
